.form-container {
  margin-block-start: 2em;
  display: flex;
  position: relative;
  isolation: isolate;
  width: 1200px;
  border-radius: 20px;
  margin-inline: auto;
  color: #3a3c3d;
  background-color: #ffffff;
  height: 600px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.form-container::before {
  content: "";
  /* background-image: url("../assets/form.jpg"); */
  border-radius: 20px;
  position: absolute;
  inset: 0;
  z-index: -1;
  filter: brightness(40%) grayscale(50%);
  background-position: center;
}

.form-content-left {
  flex-basis: 50%;
  padding: 1em;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-flow: column wrap;
  height: 95%;
  margin-inline-start: 1em;
  position: relative;
  isolation: isolate;
  color: white;
}

.form-content-left::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../assets/form.jpg");
  background-position: center;
  filter: brightness(0.25);
  /* background-color: #e9e5e5; */
  /* opacity: 0.3; */
  border-radius: 10px;
  z-index: -1;
}
.form-title {
  font-size: 50px;
}

.form-content {
  font-size: 30px;
}

.quiz-form {
  margin-inline: 2em;
  display: flex;
  flex-direction: column;
  height: 70%;
  flex-basis: 50%;
  flex: 0;
}

.FirstName,
.LastName {
  font-size: 20px;
  width: 500px;
  background: transparent;
  outline: 1px solid #e7e6eb;
  border-radius: 5px;
  border: none;
  padding: 0.25em;
}

.FirstName:focus-within,
.LastName:focus-within {
  outline: 1px solid #aaaaaa;
}

.quiz-label {
  font-size: 21px;
  margin-block: 0.7em;
}

.quiz-submit {
  background-color: #184391;
  font-size: 25px;
  padding: 0.5em 1em;
  color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
}

.quiz-submit:hover {
  background-color: #102c61;
  transition: background-color cubic-bezier(0.165, 0.84, 0.44, 1) 400ms;
}
.select-form {
  border: none;
  background-color: transparent;
  outline: 1px solid #e7e6eb;
  padding: 0.5em;
  font-size: 19px;
  border-radius: 5px;
}

.select-options {
  background-color: white;
  border: none;
  outline: 1px solid red;
  box-shadow: none;
}
.select-options:hover {
  cursor: pointer;
}

.warning {
  color: red;
  margin-block: 3em;
}
